.navbar-container {
  width: 100%;
  display: flex;
  position: relative;
  background-color: #f8f8f6;
  padding-left: 50px;
}

.nav-items {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.logo {
  height: 100px;
  width: 100px;
}
